/* General rules */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 700px;
    padding: 20px;
}

/* Tabs */

.tab-menu{
    display: flex;
    gap: 3px;
    background-color: #f0f0f0;
    padding: 5px 5px;
    border-radius: 5px;
}

.tab-btn{
    display: flex;
    background: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
    color: black;
    border: black;
    width: 40px;
    height: 40px;
    padding: 4px 4px;
    cursor: pointer;
    border-radius: 5px;
}

.tab-btn a {        /* Format text in tab */
    display: none;
    padding: 5px;
}

.tab-selected {
    background: #7f8c8d;
    color: white;
    width: auto;    /* Auto-expand tab while needed */
}

.tab-selected a{
    display: block;
}

.tab-icon{
    display: flex;
    justify-content: center;
    align-content: center;
}

.tab-icon path {
    stroke: currentColor;
}

.tab-btn:hover {
    background: #95a5a6;
    color: white;
    width: auto;
}

.tab-selected:hover {
    background: #7f8c8d;
}

/* Content rules */

.text-block {
    text-align: justify;
}

/* Footer rules */

.footer{
    text-align: center;
    font-size: small;
    opacity: 0.5;
}